<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

</head>
<body>


<label  class="input-tips2">Seller Name: </label>
<div class="inputOuter2">
    <input type="text" id="sellerName" name="sellerName" maxlength="10" />
</div>

<label  class="input-tips2">Message: </label>
<div class="inputOuter2">
    <input type="text" id="content" name="content" maxlength="50" />
</div>

<button>Send to seller</button>

<hr>

<button>Back</button>

</body>
</html>